* {
    box-sizing: border-box;
    /* border: 2px solid #CCCCCC; */

    font-family: Verdana;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(#FFFFCC, #669966);
}

.content {

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
}

.todoListContainer {
    width: 600px;
}

h1 {
    
    margin-top: 10vh;
    margin-bottom: 5vh;

}

.listItem {
    font-size: 2rem;
    padding: 1rem;

    width: 75%;
    margin: 0 auto;

    text-align: left;
}

.listItem:nth-child(1) {
    margin-top: 2rem;
}


.listItem:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.listItem:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}


input, button {
    font-size: 2rem;
    padding: 1rem;
}
