* {
    box-sizing: border-box;
    /* border: 2px solid #CCCCCC; */

    font-family: Verdana;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-image: linear-gradient(#FFFFCC, #669966);
    
    height: 100vh;

}

.content {

    width: 100vw;

    display: flex;
    justify-content: center;

    text-align: center;
}

.todoListContainer {
    width: 600px;
}

h1 {
    
    margin-top: 10vh;
    margin-bottom: 5vh;

}

.listItem {
    font-size: 2rem;
    padding: 1rem;

    width: 75%;
    margin: 0 auto;

    text-align: left;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItem:nth-child(1) {
    margin-top: 2rem;
}


.listItem:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.listItem:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}


.taskCompleted {

    color: #669966;
    
    font-size: 1rem;
    line-height: 2rem;

}

input, button {
    font-size: 2rem;
    padding: 1rem;

    cursor: pointer;
}

.listItem button {
    background-color: #336600;
    font-size: 1rem;
    
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    color: #99CC99;
    
}

.listItem button:hover, .listItem button:active {

    color: white;
    background-color: #447700;
}